extend layout
block content
    div(class='main-content')
        div(id='wajer', class='center-panel one')
            div(class='center-text')
                div(class='main-text')
                    h2(class='splash')
                        a(href='/our-story').
                            Wäjer
