extend layout
block content
    div(class='main-content our-story-content')
        div(id='backstory', class='center-panel one story-panel')
            div(class='main-text')
                div(class='description description-top')
                    h3.
                        Who We Are
                    p.
                        Our firm was founded twenty years ago when five newly graduated design students moved to New York with a vision for a new brand of furniture. Working out of an old laundromat, we began experimenting with the joinery of various materials and became fixated with the juxtaposition of wood on metal. On the basis of customization and high-quality design, we released our first prototype for purchase, eh96, in 1996. The design of eh96 took years of prototyping and material tests. We released our second chair, eh97, almost a year later. Since then, we have built an elite customer base and made the decision to release only one line of furniture each year at a similar time. Previews and pre-orders are made available 30 days before the piece is released to the public. Today our company has grown significantly and evolved substantially, but we still remain the five students with one unified vision for the future of high-design in furniture. We strive to make innovative and unique pieces with our customers at the forefront of our design thinking. To learn more about what makes our process, from conception to construction, unique, please note the process section of each furniture piece.
            div(class='down-arrow')
                a(href='#mission').
                    ▿
        div(id='mission', class='center-panel two story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    h3.
                        Our Mission
                    p.
                        Founded in 1995, Wäjer has brought about one of the best styles of modern and contemporary furniture to offer our customers a unique and personalized experience. We have always stood out for simple and elegant furniture, combining quality, function, and design. The company stands today as one of the world’s most renowned furniture design brands, and we pride ourselves on our expert knowledge and high concept quality products. Wäjer has won numerous design awards including "Product Design of the Year” from 2006 to 2014 and "Architectural Design of the Year" in 2007, 2009 and 2011-2014. We have also been featured in “New York Spaces" magazine and "Design New York", among other publications.
                    p.
                        Wäjer’s mission is a straightforward one: to bring simple and beautiful furniture to the people. Keeping up with the continuous evolution of today's world, Wäjer has continued to foster a strong bond with numerous traditions and cultural backgrounds around the world and has sustained to be synonymous with distinctive and eminent products.
                    p.
                        Let us help you have an easy and enjoyable experience.
            div(class='up-arrow')
                a(href='#backstory').
                    Back to Top
