extend layout
block content
    div(class='main-content our-story-content')
        div(id='news', class='center-panel one press-panel')
            div(class='main-text')
                div(class='description description-scroll')
                    div(class='blurb blurb-news')
                        h3.
                            News
                        div(class='news-post')
                            h4.
                                April 17, 2015:
                            p.
                                We are two weeks away from our launch of eh15 and eh15+. The pre order starts on May 1st at 12:00 am.
                        div(class='news-post')
                            h4.
                                April 7, 2015:

                            p
                                |We have partnered with <a href="http://www.houzz.com/" target="_blank">HOUZZ</a> and have put our entire line on their website. Houzz is a platform for home remodeling and design, bringing homeowners and home professionals together in a uniquely visual community. Wäjer is proud to work with them and bring our current and future products to even more homeoweners.

                        div(class='news-post')
                            h4.
                                March 25, 2015:
                            p.
                                Check out the coverage of eh15 and eh15+ in the winter edition of Design Hunting.
                            img(src='images/designhunting.jpg')

                        div(class='news-post')
                            h4.
                                February 16, 2015:
                            p.
                                Check out the coverage of Spring 15 Collection announcement as well as an exclusive review of eh15 and eh15+ in the New York Magazine.
                            img(src='images/nymag.jpg')
                        div(class='news-post')
                            h4.
                                February 2, 2015:
                            p.
                                We cordially invite you to our Spring 15 Collection announcement on February 11th at 10 am. Join us at our SoHo NYC studio for an introduction and refreshments with our designers.
                        div(class='news-post')
                            h4.
                                January 1, 2015:
                            p.
                                Happy New Year! We had a great year of creating wonderful furniture for you. Some of the award winning products that we introduced included the jx14 bed, wk14 line of sofas, and the ag14 dining table. The year ended with our engaging, successful Wäjer Holiday Campaign. Over two weeks, over hundred thousand of you visited us. And through 12 days, 12 lucky individuals won the special edition of the eh14 lounge chair. We are looking forward to the new year and excited to introduce new products for you.

            div(class='down-arrow')
                a(href='#contact').
                    ▿
        div(id='contact', class='center-panel two press-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        h3.
                            Contact Us
                        p
                            |For all press and enquiries, please contact <a href="mailto:press@wajer.com" target="_blank">press@wajer.com</a>.
            //- div(class='down-arrow')
                a(class='scroll-click', href='#panel-4').
