extend layout
block content
    div(class='main-content our-story-content')
        div(id='news', class='center-panel one press-panel')
            div(class='main-text')
                div(class='description description-scroll')
                    div(class='blurb blurb-news')
                        h3.
                            News
                        div(class='news-post')
                            h4.
                                April 10, 2015:
                            p.
                                We are two weeks away from our launch of eh15 and eh15+. The pre-order starts on April 24th at 12:00am.
                        div(class='news-post')
                            h4.
                                March 31, 2015:

                            p
                                |We have partnered with <a href="http://www.houzz.com/" target="_blank">HOUZZ</a> and have plans to put our new eh15 line on their website after its public release. Houzz is a platform for home remodeling and design, bringing homeowners and home professionals together in a uniquely visual community. Wäjer is proud to work with them and bring our current and future products to even more homeoweners.

                        div(class='news-post')
                            h4.
                                March 18, 2015:
                            p.
                                Check out the coverage of eh15 and eh15+ in the winter edition of Design Hunting.
                            img(src='images/designhunting.jpg')

                        div(class='news-post')
                            h4.
                                February 16, 2015:
                            p.
                                Check out the coverage of our Spring 15 Collection announcement as well as an exclusive review of eh15 and eh15+ in the New York Magazine.
                            img(src='images/nymag.jpg')
                        div(class='news-post')
                            h4.
                                February 2, 2015:
                            p.
                                We cordially invite you to our Spring 15 Collection announcement on February 11th at 10am. Join us at our SoHo NYC studio for an introduction and refreshments with our designers.
                        div(class='news-post')
                            h4.
                                January 1, 2015:
                            p.
                                Happy New Year! We had a great year of creating wonderful furniture for you. Some of the award winning products that we introduced included the jx14 bed, wk14 shelf, rn14 dresser, and ag14 coffee table. The year ended with our engaging, successful Wäjer Holiday Campaign. Over two weeks, over 100,000 of you visited us. And through 12 days, 12 lucky individuals were gifted the special limited edition of the eh14 lounge chair. We are looking forward to the new year and excited to introduce new products for you.

            div(class='down-arrow')
                a(href='#contact').
                    ▿
        div(id='contact', class='center-panel two press-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        h3.
                            Contact Us
                        p
                            |For all press and enquiries, please contact <a href="mailto:press@wajer.com" target="_blank">press@wajer.com</a>.
            div(class='up-arrow')
                a(href='#news').
                    Back to Top
