extend layout
block content
    div(class='main-content our-story-content')
        div(id='theirstory-intros', class='center-panel one')
            div(class='intro', id='dean-intro')
                h3(class='name')
                    a(href='#dean-story-1').
                        Dean Di Simone
            div(class='intro', id='couple-intro')
                h3(class='name')
                    a(href='#couple-story-1').
                        Mustapha Azeroual & Alix Curan
            div(class='intro', id='paloma-intro')
                h3(class='name')
                    a(href='#paloma-story-1').
                        Paloma Lanna
            //- div(class='down-arrow')
            //-     a(href='#mission').
            //-         ▿
        div(id='dean-story-1', class='center-panel two story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        h3.
                            Dean Di Simone
                        p.
                            Dean Di Simone is an industrious man who juggles a seriously busy schedule. As the founding partner and executive director of an award-winning design agency, Tender Creative, he has worked with high-profile clients such as: Converse, M·A·C Cosmetics, and Sundance Channel. To add to this, Dean is also an investor in the virtual auction house, Paddle8, and the American partner for, Tokyobike - a Japanese bike and lifestyle brand, soon to arrive in the United States. With an undergraduate degree in engineering and a masters degree in architecture from Columbia University to boot, this dynamic overachiever has imparted his experience over the years teaching design at several prestigious institutions. Living alone, he often jokes that perhaps he is doing too much, as he admits, "It's a little scary sometimes."
            div(class='down-arrow')
                a(href='#dean-story-2').
                    ▿
        div(id='dean-story-2', class='center-panel three story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        p.
                            Born in Ohio (1984) and raised in New Jersey , he is now firmly planted in New York City. His exploratory vision clearly translates into his home as well as his work. Di Simone resides in a 17-windowed loft in SoHo that he gutted and renovated, transforming the industrial space into an inviting home with a minimalist touch. With a keen eye for detail, this oasis houses a range of special items organically acquired on Dean's various travels giving life to this expansive space, and includes pieces ranging from small trinkets to exotic pieces of furniture. He mentions that one of his favorites is the Danish-inspired eh15 in ash wood and a lustrous chrome finish that holds a special place in his heart. He muses over how he stumbled upon the small warehouse-boutique in SoHo, NY, and how it's one of his favorite places to spy for exotic finds, locally sourced and custom-made furniture and other objects of interest inspired from all over the world.
            //- div(class='down-arrow')
                a(class='scroll-click', href='#panel-4').
        div(id='couple-story-1', class='center-panel four story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        h3.
                            Mustapha Azeroual & Alix Curan
                        p.
                            Mustapha Azeroual (45) and Alix Curan's (42) secluded country house made from stone in Mantes-la-Ville, an hour outside of Paris, is an escape into an elegant rusticism. The pace and proliferation of the outside world news seem to have little influence on the relationship and time demanded to the 19th century photographic printing process of gum bichromate; the heart of Mustapha's inner musings. While discussing his background and upcoming artistic projects, he explains his interest in this very particular photographic technique that offers him more possibilities with every new trial.
            div(class='down-arrow')
                a(href='#couple-story-2').
                    ▿
        div(id='couple-story-2', class='center-panel five story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        p.
                            Alix joins in on the conversation and expresses her interest in offering Mustapha critical feedback and a new perspective on his work. From an education in the arts, a twist of events brought her to work in real estate. Their two careers strangely resemble a reversed mirror. On the one hand, there is an engineer turned self-made photographer with a disregard for the invisible barrier formed by the rules of art history. On the other, an aspiring painter, in love with flea markets and second-hand objects who today helps clients through the minefield of real estate regulation. Moving from the 11th arrondissement in Paris, Mustapha and Alix traded this urban lifestyle in for the quieter rural setting of Rosay. Their walnut eh15 with gold finish sits proud, by the tall bay windows on the eastern facade of the house, and only adds to the rich rustic aesthetic of their home that has been carefully balanced to progressively reflect them and defy a certain earthiness.
        div(id='paloma-story-1', class='center-panel six story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        h3.
                            Paloma Lanna
                        p.
                            Paloma is one of those very lucky few with a subtle sense of elegance, able to mesmerize every single person in a room. She was born further to the north, in San Sebastian, but has lived in Barcelona almost her whole life. Only 24-years old, she already runs two different businesses. One of them is Nice Things, the clothing brand her parents founded and where she learned the professional side of the business, and the other is Paloma Wool, where she displays her love for analog pictures and personal style. Fashion runs through her veins but her true calling is photography. At Paloma Wool they both merge creating a unique space for artists to gather.
            div(class='down-arrow')
                a(href='#paloma-story-2').
                    ▿
        div(id='paloma-story-2', class='center-panel seven story-panel')
            div(class='main-text')
                div(class='description description-mid')
                    div(class='blurb')
                        p.
                            The apartment Paloma shares with her mother is not your standard Barcelona home. The three level rooftop abode in the well-heeled Passeig de Gràcia is divided into different zones and acts as a sanctuary from the outside world. With its highly coveted and breathtaking cityscape views, a unique vantage is offered from the balcony over the Catalan capital. Paloma has her own floor that affords her an independent and personalized living space, which she furnished with some exotic pieces, from her travels through various parts of the world. She sits on one of her favorite chairs, a teak wood eh15 finished with brushed steel, with her feet propped up on the matching eh15+ ottoman, both of which she bought on one her visits to the United States, as she talks about herself and her life in Barcelona.
